.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--modal-bkg-color);
  z-index: 5;
}

.modal__container {
  border-radius: 8px;
  box-shadow: 4px 4px 20px rgb(0 0 0 / 30%);
  display: flex;
  flex-direction: column;
  min-height: min(100%, 428px);
  min-width: 310px;
  position: relative;
  width: min(100%, 500px);
}

.modal__header {
  margin-bottom: 0.5rem;
}

.modal__header button.modal__button {
  position: absolute;
  border-radius: 50%;
  background-color: transparent;
  right: 12px;
  top: 12px;
  padding: 0;
  color: var(--secondary-icon-color);
}

.modal__header button.modal__button:focus {
  outline: auto;
  box-shadow: none;
}

.modal__header .modal__button:hover {
  color: var(--tertiary-icon-color);
  transform: scale(1.075);
  background-color: transparent;
}

.modal__icon {
  height: 32px;
  width: 32px;
}

.modal__title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 60px;
  border-bottom: 1px solid var(--break-color);
}

.modal__title {
  color: var(--text-color);
}
