.words {
  height: 100%;
}

.words__tabs {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  margin: 0;
  margin-bottom: 1rem;
  border-radius: 8px;
}

.words__button--tab {
  border-radius: 0;
  background: transparent;
  width: 50%;
  height: 80px;
  position: relative;
  overflow: hidden;
  transition: 0.3s ease;
  text-align: center;
  font-size: 24px;
}

.words__button--tab:focus,
.words__button--tab:focus-visible {
  outline: 0;
}

.words__button--tab:before {
  /* Gradient */
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  content: "";
  width: 100%;
  height: 0px;
  position: absolute;
  top: 0;
  left: 0;
  transition: 0.3s ease-in-out;
  z-index: 2;
}

.words__button--tab--active {
  z-index: 0;
  border-right: 0px;
  border-left: 0px;
  bottom: 0px;
  overflow: hidden;
}

.words__button--tab--active:before {
  content: "";
  width: 100%;
  height: 5px;
  top: 0;
  left: 0;
}

.words__top {
  display: flex;
  flex-direction: column;
}

.words__form {
  display: flex;
  align-items: center;
  justify-content: center;
}

.words__options {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  min-height: 62px;
  z-index: 1;
  border-radius: 8px;
  background-color: white;
  transition: 0.2s;
  padding: 0;
  padding: 0.5rem 1rem;
}

.words__options--filter {
  top: 55%;
  right: 10%;
}

.words__options--sort {
  right: 45%;
  top: 55%;
}

.words__inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.words__input--search {
  margin-top: 1rem;
}

.words__buttons {
  display: flex;
  align-items: center;
  gap: 8px;
  margin: 1rem;
  margin-bottom: 0;
}

.words__triangle {
  background-color: white;
  height: 12px;
  position: absolute;
  right: 10px;
  top: -6px;
  transform: rotate(45deg);
  width: 12px;
  list-style: none;
}

.words__option {
  margin-top: 12px;
  list-style: none;
}

.words__options--active {
  opacity: 1;
  visibility: visible;
}

.words__control {
  display: flex;
  align-items: center;
}

.words__input--add {
  margin-right: 12px;
  padding: 22px 18px;
}

.words__input--search {
  padding: 11px 9px;
}

.words__input {
  width: 280px;
  color: var(--color-input-text);
  background: var(--color-input-bg);
  box-sizing: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  outline: 0;
}

.words__title {
  text-align: center;
}

.words__button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

.words__button--import {
  background-color: red;
}

.words__button--add {
  display: inline-block;
  background: transparent;
  color: inherit;
  font: inherit;
  border: 0;
  outline: 0;
  padding: 0;
  transition: all 200ms ease-in;
  cursor: pointer;
  background: var(--color-button-bg);
  color: var(--color-button-text);
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  padding: 12px 36px;
  margin-left: -96px;
}

.words__button--add:hover {
  opacity: 0.7;
}

.words__container {
}

.words__button--add:active {
  background: var(--color-button-bg);
  box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
}

.words__icon {
  margin-right: 12px;
}

.words__label {
  color: var(--color-options-text);
}
