.auth {
  padding: 1rem;
}

.auth__form {
  margin-top: 0.75rem;
}

.auth__navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.35);
  margin-bottom: 1rem;
  border: 1px solid #333;
  padding: 0.75rem;
  border-radius: 12p;
}

.auth__control {
  margin-bottom: 0.75rem;
}

.auth__label {
  color: var(--color-label-text);
  font-size: 0.75rem;
  margin-bottom: 0.5rem;
}

.auth__input {
  margin-top: 0.25rem;
  width: 100%;
}

.auth__input:disabled {
  filter: grayscale(0.5) opacity(0.5);
  pointer-events: none;
  -webkit-filter: grayscale(0.5) opacity(0.5);
}

.auth__button {
  color: var(--color-button-text);
}

.auth__button--login {
  margin-bottom: 0.75rem;
}

.auth__link--create {
  margin-left: 0.25rem;
}
