* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --button-bkg-color: #6200ea;
  --secondary-button-bkg-color: #3700b3;
  --button-text-color: #fff;
  --heading-color: #8b5cf6;
  --shadow-color: #8b5cf6;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
}

.scale-down {
  animation: scale-down 0.1s;
}

@keyframes scale-down {
  0% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}
