.modal {
  padding: 0.5rem;
}

.modal__label {
  display: block;
}

.modal__input:not(.modal__input[type="checkbox"]) {
  width: 100%;
}

.modal__fieldset .modal__label {
  display: initial;
  margin-right: 0.5rem;
}

.modal__control {
  margin-top: 0.5rem;
}

.modal__control,
.modal__label,
.modal__control,
.modal__fieldset {
  margin-bottom: 0.5rem;
}

.modal__fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px;
}
