    <%- include('../partials/header', { stylesheet: "email.css", title }) %>
      <div class="email">
        <main class="email__content">
          <div class="email__container">
            <p class="email__description">
              Change the email address for your WordReminder account by clicking the
              link below.
            </p>
            <a class="email__link email__link--change" href="<%= url %>"> Change Email Address Now </a>
            <p class="email__description">
              If you did not request to change the email for a WordReminder account,
              you can safely ignore this email.
            </p>
          </div>
          <%- include('../partials/support') %>
        </main>
      </div>
      <%- include('../partials/footer') %>
  </body>
</html>
