<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Confirm Account</title>
    <link rel="stylesheet" href="stylesheets/email.css" />
  </head>
  <body>
    <div class="verify">
      <img class="verify__image" src="images/logo.png" alt="" />
      <p class="verify__description">
        Confirm this email address for your WordReminder account by clicking the
        link below.
      </p>
      <a class="verify__link" href="<%= url %>">Confirm Account Now</a>
      <p class="verify__description">
        If you did not request to confirm a WordReminder account, you can safely
        ignore this email.
      </p>
    </div>
  </body>
</html>
