.words__top,
.words__form {
  margin-bottom: 0.6rem;
}

.words__control {
  flex: 1 1 auto;
}

.words__or {
  align-content: center;
}

.words__form {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.75rem;
  flex-wrap: wrap;
}

.words__control,
.words__label {
  display: flex;
  align-items: center;
}

.words__button,
.words__input {
  flex: 1;
}

.words__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sort__select,
.words__input,
.words__button--import,
.words__select,
.words__icon {
  margin-left: 0.5rem;
}

.words__icon--export {
  margin-right: 0.5rem;
}
