.container {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--card-bkg-color);
  border-radius: 8px;
  border: 1px solid var(--border-color);
}

.container__title {
  color: var(--tertiary-text-color);
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.75rem;
}

.container__description {
  color: var(--tertiary-text-color);
  margin-bottom: 1rem;
}
