
    <%- include('../partials/head', { stylesheets: ["about.css"], title: "Word Reminder", baseURL: "" }) %>
    <%- include('../partials/navigation') %>
        <main class="about">
            <div class="about__container">
                <h2 class="about__heading">Our Mission</h2>
                <p class="about__description">
                    As digital content becomes more widespread and ubiquitous, many people become exposed to new words. If you are curious about the definition of an uncommon word, you will probably perform a web search. Most likely that word definition will be forgotten soon after unless you see that word on a recurring basis. Additionally, if you frequently encounter esoteric words, looking up words disrupts your reading flow by having to type in the word, read the definition, and perhaps view images of that word. Dictionary apps and regular web searches are insufficient for our modern needs in consuming content quickly. With Word Reminder, our mission is to provide users with an efficient way to find definitions of words while also reminding users of those words in the future. We want Word Reminder to be accesible to all types of types by being as user-friendly and as feature-rich as possible while also maintaining as much privacy as possible. 
                </p>
            </div>
            <div class="about__container">
                <h2 class="about__heading">History of FreeTube</h2>
                <p class="about__description">
                    Word Reminder was started in May of 2024 as a personal desire that I have worked on and off for since July of 2025 since I had an internship and school I was focused on. I started to have a grown interest in increasing my vocabulary and getting through readings quickly. 
                </p>
                <p class="about__description">
                    I especially accelerated development in November of 2024 after I pick up Cormac McCarthy's <i>Blood Meridian</i>, a book renowned for esoteric and archaic use of language. I found it hard for me to follow along with the book, as it was chock full of unfamiliar words on every page. It slowed down my ability to enjoy and read the book as I had to look up word definitions constantly to understand what was happening. 
                </p>
                <p class="about__description">
                    I tried looking for existing dictionary apps that could solve the problem but none had the features I exactly wanted. 
                </p>
                <p class="about__description">
                    Many of these dictionary apps were feature packed, but I only wanted to make a relatively simple app that had the exact quality of life features I wanted. So I decided to make an extension at first. Then, to make reading easier on the app, I wanted to port the extension into an app so users could use their dictionary on both web and mobile.
                </p>
                <p class="about__description">
                    I also felt excited at the prospect of having an open-source project and getting experience in maintaining one, which I have never done before.
                </p>
                <p class="about__description">
                    I somewhat hesitated on this thought though as I wasn't too confident in myself. I figured surely someone else would also put something like this together and it'd probably be better than whatever I could do. Eventually, I decided to focus time to work on it anyways.
                </p>
                <p class="about__description">
                    As of July of 2025, after ample amounts of fine-tuning and testing, Word Reminder has been released to the public. I hope you get some value, any value out of Word Reminder.
                </p>
            </div>
        </main>
        <%- include('../partials/footer') %>
    </body>
</html>