<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Change Email</title>
    <link rel="stylesheet" href="stylesheets/change.css" />
  </head>
  <body>
    <% if (message) { %>
    <p class="message"><%= message %></p>
    <%} %>
    <form
      class="form"
      action="/api/users/<%= userId %>&<%= token %>"
      method="PUT"
    >
      <div class="form__control">
        <label class="form__label" for="email">Email:</label>
        <input class="form__input" type="email" name="email" id="email" />
      </div>
      <div class="form__control">
        <label class="form__label" for="oldPassword">Old Password:</label>
        <input
          class="form__input"
          type="password"
          name="oldPassword"
          id="oldPassword"
        />
      </div>
      <button class="form__button" type="submit">Change Email</button>
    </form>
  </body>
</html>
