    <%- include('../partials/header', { stylesheet: "error.css", title: "Error" }) %>
    <main class="error">
      <div class="error__content">
        <div class="error__container">
          <img class="error__image" src="images/robot.png" alt="" />
          <h2 class="error__heading">Error</h2>
          <hr class="error__break" />
          <% if (errors) { %>
          <ul class="error__list">
            <% for (const error of errors ) {%>
            <li class="error__item"><%= error.msg %></li>
            <% } %>
          </ul>
          <% } %>
          <a class="error__link" href="/"> Go back to the home page. </a>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
