    <%- include('../partials/header', { stylesheet: "error.css", title: "Failed Verification" }) %>
      <div class="error">
        <div class="error__container">
          <img class="error__image" src="/images/robot.png" alt="" />
          <h2 class="error__heading">Failed Verification</h2>
          <hr class="error__break" />
          <p class="error__message">
            The link you received has expired. Please log into your WordReminder
            account and try to perform the action you attempted again.
          </p>
          <a class="error__link" href="/"> Go back to the home page. </a>
        </div>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
