<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head', {title: "Forgot Password"})%>
    <link rel="stylesheet" href="/css/verify.css" />
  </head>
  <body>
    <form class="form" action="/api/users/<%= userId %>" method="PUT">
      <div class="form__control">
        <label class="form__label" for="newPassword">New Password:</label>
        <input
          class="form__input"
          type="password"
          name="newPassword"
          id="newPassword"
        />
      </div>
      <div class="form__control">
        <label class="form__label" for="newPasswordConfirmation"
          >New Password Confirmation:</label
        >
        <input
          class="form__input"
          type="password"
          name="newPasswordConfirmation"
          id="newPasswordConfirmation"
        />
      </div>
      <button class="form__button" type="submit">Change Password</button>
    </form>
  </body>
</html>
