<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Word Reminder</title>
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/home.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
  </head>
  <body class="body">
    <nav class="navigation">
      <div class="navigation__left">
        <img class="navigation__image" src="/images/logo.png" alt="" />
      </div>
      <div class="navigation__right">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link" href="/">
              <img class="navigation__icon" src="/icons/house.svg" alt="" />
              Home
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="/#download">
              <img class="navigation__icon" src="/icons/download.svg" alt="" />
              Download
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="/about">
              <img
                class="navigation__icon"
                src="/icons/circle-question-mark.svg"
                alt=""
              />
              About
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="/privacy">
              <img class="navigation__icon" src="/icons/lock.svg" alt="" />
              Privacy
            </a>
          </li>
          <li class="navigation__item">
            <a
              class="navigation__link"
              href="https://github.com/OptimisticTrousers/word-reminder"
            >
              <img class="navigation__icon" src="/icons/github.svg" alt="" />
              Source
            </a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="/#contact">
              <img
                class="navigation__icon"
                src="/icons/message-circle.svg"
                alt=""
              />
              Contact
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <main class="main">
      <div class="hero">
        <header class="hero__container">
          <div class="hero__content">
            <img class="hero__image" src="/images/logo.png" alt="" />
            <h1 class="hero__heading">Word Reminder</h1>
            <p class="hero__text">App</p>
          </div>
          <p class="hero__subheading">The Personal Vocabulary Client</p>
        </header>
        <section class="hero__section">
          <img class="hero__screenshot" src="/images/FreeTube1.png" />
        </section>
        <section class="hero__section">
          <div class="hero__about">
            <h2 class="hero__subheading">What is Word Reminder?</h2>
            <p class="hero__paragraph">
              FreeTube is a YouTube client for Windows (10 and later), Mac
              (macOS 11 and later), and Linux built around using YouTube more
              privately. You can enjoy your favorite content and creators
              without your habits being tracked. All of your user data is stored
              locally and never sent or published to the internet. FreeTube
              grabs data by scraping the information it needs (with either local
              methods or by optionally utilizing the Invidious API). With many
              features similar to YouTube, FreeTube has become one of the best
              methods to watch YouTube privately on desktop.
            </p>
          </div>
        </section>
        <section class="hero__section">
          <img class="hero__screenshot" src="/images/FreeTube1.png" />
        </section>
        <section class="hero__section">
          <div class="hero__features">
            <h2 class="hero__subheading">Current Features</h2>
            <div class="hero__grid"></div>
            <p class="hero__note">...and many more to come!</p>
          </div>
        </section>
        <section class="hero__section">
          <img class="hero__screenshot" src="/images/FreeTube1.png" />
        </section>
        <section class="hero__section">
          <div class="hero__download"></div>
        </section>
        <section class="hero__section" id="contact">
          <div class="hero__container">
            <h2 class="hero__subheading">Contact Information</h2>
            <p class="hero__paragraph">Have an issue or suggestion?</p>
            <p class="hero__paragraph">
              Please make a thread on our <a class="hero__link">GitHub</a> page
              so we can track it.
            </p>
            <p class="hero__paragraph">
              You can also ask using one of these methods:
            </p>
            <div class="hero__links">
              <a class="hero__link">wordreminder@protonmail.com</a>
            </div>
          </div>
          <div class="hero__container">
            <h2 class="hero__subheading">Useful Links</h2>
            <div class="hero__links">
              <a class="hero__link">
                <img class="navigation__icon" src="/icons/github.svg" alt="" />
                <span class="hero__text">GitHub</span>
              </a>
              <a class="hero__link">
                <img class="navigation__icon" src="/icons/release.svg" alt="" />
                <span class="hero__text">Release Changelog</span>
              </a>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
