  <%- include('../partials/head', { stylesheets: ["home.css"], title: "Word Reminder", baseURL: "" }) %>
  <%- include('../partials/navigation') %>
    <main class="main">
      <div class="hero">
        <header class="hero__container">
          <div class="hero__content">
            <img
              class="hero__image hero__image--logo"
              src="/images/logo.png"
              alt=""
            />
            <div class="hero__block">
              <h1 class="hero__heading">Word Reminder</h1>
              <p class="hero__subtext">Application</p>
            </div>
          </div>
          <p class="hero__text">The Personal Vocabulary Client</p>
        </header>
        <section class="hero__section section section--image">
          <img class="section__screenshot" src="/images/WordReminder1.png" />
        </section>
        <section class="hero__section section section--secondary">
          <div class="section__container container">
            <div class="section__about">
              <h2 class="section__subheading">What is Word Reminder?</h2>
              <p class="section__paragraph">
                Word Reminder is a client for Chromium based browser, Gecko-based
                browsers, and Android designed to improve the word
                rentention of users. You can easily add words you come across to
                your dictionary and create desktop automatic reminders of these
                words on a recurring basis without being tracked. Word Reminder
                mostly relies on other open-source tooling such as the
                <a
                  class="section__link section__link--secondary"
                  href="https://github.com/meetDeveloper/freeDictionaryAPI"
                >
                  Free Dictionary API
                </a>
                to fetch word information and the
                <a
                  class="section__link section__link--secondary"
                  href="https://commons.wikimedia.org/w/api.php?action=help&modules=main"
                >
                  Wikimedia Commons API
                </a>
                to fetch images for words. Word Reminder is a very convinient way
                to quickly find definitions of words without disrupting your
                flow of reading and to remind yourself of uncommon words. It
                also adds a custom context menu option that allows you to add
                words by highlighting them.
              </p>
              <p class="section__paragraph">
                Word Reminder is a cross-platform extension. It attempts to solve two main problems: (1) it allows users to get through their readings quickly without having to look up word definitions or images which disrupt their reading flow, especially for esoteric readings and (2) many readers forget the words they encounter, especially if the words are uncommon. Word Reminder attempts to improve better retention of words. Users can use a custom text selection context menu option called "Add Word" or "Word Reminder" that allows them to add words without having to copy and paste them into the app. Users can create word reminders manually or automatically which remind them of words on a given interval through push or desktop notifications. The notifications will show a list of words in a word reminder, one of which can only be active at any given time.

                The simplest and intended flow for a user is to create an account, create/edit their preferences for a word reminder by creating an "Auto Word Reminder" as needed, and add words to their dictionary.
              </p>
            </div>
          </div>
        </section>
        <section class="hero__section section section--image">
          <img class="section__screenshot" src="/images/WordReminder2.png" />
        </section>
        <section class="hero__section section section--primary">
          <div class="section__container container">
            <div class="section__features">
              <h2 class="section__subheading">Current Features</h2>
              <div class="section__grid">
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/calendar-sync.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">Scheduling</h3>
                    <p class="item__paragraph">
                      Show words you have encountered on a recurring basis for
                      better retention
                    </p>
                  </div>
                </div>
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/clock.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">Auto Word Reminder</h3>
                    <p class="item__paragraph">
                      Automatically schedule word reminder notifications
                      manually
                    </p>
                  </div>
                </div>
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/square-menu.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">Context Menu</h3>
                    <p class="item__paragraph">
                      Highlight any word in the browser to add the word to your
                      dictionary.
                    </p>
                  </div>
                </div>
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/scan-search.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">Images</h3>
                    <p class="item__paragraph">
                      Get images of words without needing to do a web search
                    </p>
                  </div>
                </div>
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/ban.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">No Ads</h3>
                    <p class="item__paragraph">Enjoy an ad free experience</p>
                  </div>
                </div>
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/book-open-text.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">Open Source</h3>
                    <p class="item__paragraph">
                      Word Reminder is Free and Open Source Software under the
                      MIT License
                    </p>
                  </div>
                </div>
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/globe-lock.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">Private</h3>
                    <p class="item__paragraph">
                      Your habits are not tracked by Word Reminder
                    </p>
                  </div>
                </div>
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/import.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">Import Words</h3>
                    <p class="item__paragraph">
                      Import your words into Word Reminder to add them to your
                      dictionary
                    </p>
                  </div>
                </div>
                <div class="section__item item item--feature">
                  <div class="item__left">
                    <img class="item__icon" src="/icons/monitor.svg" />
                  </div>
                  <div class="item__right">
                    <h3 class="item__heading">Multi Platform</h3>
                    <p class="item__paragraph">
                      Runs on Android, Chromium, and Gecko-based browsers
                    </p>
                  </div>
                </div>
              </div>
              <p class="section__note">...and many more to come!</p>
            </div>
          </div>
        </section>
        <section class="hero__section section section--image">
          <img class="section__screenshot" src="/images/WordReminder3.png" />
        </section>
        <section class="hero__section section section--images">
          <img class="section__screenshot section__screenshot--mobile" src="/images/MobileWordReminder1.png" />
          <img class="section__screenshot section__screenshot--mobile" src="/images/MobileWordReminder2.png" />
          <img class="section__screenshot section__screenshot--mobile" src="/images/MobileWordReminder3.png" />
          <img class="section__screenshot section__screenshot--mobile" src="/images/MobileWordReminder4.png" />
          <img class="section__screenshot section__screenshot--mobile" src="/images/MobileWordReminder5.png" />
        </section>
        <section class="hero__section section section--primary" id="download">
          <div class="section__container container">
            <div class="section__title">
              <h2 class="section__subheading">
                Download Word Reminder
                <span class="section__link section__link--release"
                  >Release 1.0.0 Alpha</span
                >
              </h2>
              <p class="section__paragraph">
                Word Reminder is free to download thanks to its open source
                nature.
              </p>
            </div>
            <div class="section__grid">
              <div class="section__item item item--download">
                <div class="item__left">
                  <img class="item__icon" src="/icons/chrome.svg" />
                </div>
                <div class="item__right">
                  <h3 class="item__heading">Chromium-based</h3>
                  <a class="item__link item__link--download" href="https://chromewebstore.google.com/detail/word-reminder/oejlbeackbidindbmobdbcfhjieljhji"
                    >Chrome Web Store</a
                  >
                </div>
              </div>
              <div class="section__item item item--download">
                <div class="item__left">
                  <img class="item__icon" src="/icons/firefox.svg" />
                </div>
                <div class="item__right">
                  <h3 class="item__heading">Gecko-based</h3>
                  <a class="item__link item__link--download" href="/"
                  >Firefox Add-Ons</a>
                </div>
              </div>
              <div class="section__item item item--download">
                <div class="item__left">
                  <img class="item__icon" src="/icons/edge.svg" />
                </div>
                <div class="item__right">
                  <h3 class="item__heading">Edge</h3>
                  <a class="item__link item__link--download" href="https://microsoftedge.microsoft.com/addons/detail/word-reminder/gpciakmhepdkgaeocophgcdiahcbolam"
                  >Microsoft Edge Add-Ons</a>
                </div>
              </div>
              <div class="section__item item--download">
                <div class="item__left">
                  <img class="item__icon" src="/icons/android-brands.svg" />
                </div>
                <div class="item__right">
                  <h3 class="item__heading">Android</h3>
                  <a class="item__link item__link--download" href="/"
                    >Google Play Store</a
                  >
                </div>
              </div>
            </div>
            <p class="section__note">
              Users are also welcome to download from
              <a
                class="section__link"
                href="https://github.com/OptimisticTrousers/word-reminder/releases"
              >
                source
              </a>
              for all platforms.
            </p>
          </div>
        </section>
        <section class="hero__section section section--image">
          <img class="section__screenshot" src="/images/WordReminder4.png" />
        </section>
        <section class="hero__section section" id="contact">
          <div class="section__container container">
            <div class="section__top">
              <h2 class="section__subheading">Contact Information</h2>
              <p class="section__line">Have an issue or suggestion?</p>
              <p class="section__line">
                Please make a thread on our
                <a
                  class="hero__link"
                  href="https://github.com/OptimisticTrousers/word-reminder/issues"
                  >GitHub</a
                >
                page so we can track it.
              </p>
              <p class="section__line">
                You can also ask using one of these methods:
              </p>
              <div class="section__links">
                <a
                  class="section__link section__link--icon"
                  href="malito:word-reminder@protonmail.com"
                >
                  <img
                    class="section__icon section__link--icon"
                    src="/icons/mail.svg"
                    alt=""
                  />
                  <span class="section__text">
                    word-reminder@protonmail.com
                  </span>
                </a>
              </div>
            </div>
            <div class="section__bottom">
              <h2 class="section__subheading">Useful Links</h2>
              <div class="section__links">
                <a
                  class="section__link section__link--icon"
                  href="https://github.com/OptimisticTrousers/word-reminder"
                >
                  <img class="section__icon" src="/icons/github.svg" alt="" />
                  <span class="section__text">GitHub</span>
                </a>
                <a
                  class="section__link section__link--icon"
                  href="https://github.com/OptimisticTrousers/word-reminder/blob/main/CHANGES.md"
                >
                  <img
                    class="section__icon"
                    src="/icons/clipboard-list.svg"
                    alt=""
                  />
                  <span class="section__text">Release Changelog</span>
                </a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </main>
    <%- include('../partials/footer', { baseURL: "" }) %>
  </body>
</html>
