<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Success</title>
    <link rel="stylesheet" href="stylesheets/success.css" />
  </head>
  <body>
    <div class="success">
      <div class="success__container">
        <img class="success_image" src="images/success.png" alt="" />
        <hr class="success__break" />
        <p class="success__message"><%= message %></p>
        <a class="success__link" href="/"> Go back to the home page. </a>
      </div>
    </div>
  </body>
</html>
