  <%- include('../partials/head', { stylesheets: ["success.css"], title: "Success" }) %>
  <%- include('../partials/header') %>
      <div class="success">
        <div class="success__container">
          <img
            class="success__image"
            src="/icons/laptop-minimal-check.svg"
            alt=""
          />
          <p class="success__text">Success</p>
        </div>
        <hr class="success__break" />
        <p class="success__message"><%= message %></p>
        <a class="success__link" href="/"> Go back to the home page. </a>
      </div>
    </main>
    <%- include('../partials/footer') %>
  </body>
</html>
