.user-word__word {
  padding: 18px;
  margin-top: 1rem;
}

.word {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-word-bg);
  transition: 0.4s;
}

.word__divider {
  text-transform: uppercase;
  font-weight: 600;
  color: rgb(181, 181, 181);
  display: flex;
  flex-direction: column;
  margin: 0 25px;
  align-items: center;
  justify-content: center;
}

.word__divider::before,
.word__divider::after {
  background-color: #dbdbdb;
  content: "";
  display: block;
}

.word__divider::after {
  margin-left: 0;
  margin-top: 10px;
  flex: 1;
  width: 3px;
}

.word__divider::before {
  margin-bottom: 10px;
  margin-right: 0;
  flex: 1;
  width: 1px;
}

.word__buttons {
  display: flex;
}

.word__button--info {
  margin-right: 1rem;
}

.user-word__panel {
  padding: 0 18px;
  background-color: var(--color-accordion-bg);
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.2s ease-out;
}

.user-word__panel--active {
  max-height: none;
  background-color: var(--color-active-bg);
}
