button.create {
  background-color: var(--bkg-color);
  width: 100%;
  margin: 1rem 0;
  border: 1px solid var(--border-color);
  padding: 0;
}

button.create:hover {
  background-color: var(--hover-bkg-color);
}

.create__container {
  display: flex;
  align-items: center;
  padding: 0.75rem;
}

.create__icon {
  width: 48px;
  height: 48px;
  margin-right: 12px;
  flex-shrink: 0;
  color: var(--icon-color);
}

.create__text {
  text-align: start;
}

.create__title {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 600;
  color: var(--text-color);
}

.create__description {
  line-height: 1.5rem;
  color: var(--secondary-text-color);
}
