.carousel {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.carousel__dot {
  border-radius: 12px;
}

.carousel__image {
  width: 100%;
}

.carousel__button--prev,
.carousel__button--next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.carousel__button--prev {
  left: 0;
}

.carousel__button--next {
  right: 0;
}

.carousel__scroll {
  margin-top: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__button--prev:hover,
.carousel__button--next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.carousel__caption {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
}

.carousel__count {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  background-color: #121212;
}

.carousel__buttons {
  margin-top: 8px;
}

.carousel__button--dot {
  height: 30px;
  width: 30px;
  margin: 0 2px;
  background-color: #bbb;
  margin-right: 15px;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  padding: 0;
}

.carousel__button--active,
.carousel__button--dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 1.52;
}

.carousel__dots {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
