.word {
    display: flex;
    padding: 18px;
    justify-content: center;
    align-items: center;
    background-color: var(--color-word-bg);
    transition: 0.4s;
    margin-top: 1rem;
}

.word--active,
.panel--active {
    background-color: var(--color-active-bg);
}

.word__buttons {
    display: flex;
}

.word__divider {
    text-transform: uppercase;
    font-weight: 600;
    color: rgb(181, 181, 181);
    display: flex;
    flex-direction: column;
    margin: 0 25px;
    align-items: center;
    justify-content: center;
}

.word__divider::before,
.word__divider::after {
    background-color: #dbdbdb;
    content: "";
    display: block;
}


.word__divider::after {
    margin-left: 0;
    margin-top: 10px;
    flex: 1;
    width: 3px;
}

.word__divider::before {
    margin-bottom: 10px;
    margin-right: 0;
    flex: 1;
    width: 1px;
}

.word__button {}

.word__button--info {
    margin-right: 1rem;
}

.word__input {}

.panel {
    padding: 0 18px;
    background-color: var(--color-accordion-bg);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s ease-out;
}

.panel__paragraph {
    color: var(--color-accordion-text);
}