<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/global.css" />
    <link rel="stylesheet" href="/stylesheets/footer.css" />
    <link rel="stylesheet" href="/stylesheets/support.css" />
    <link rel="stylesheet" href="/stylesheets/<%= stylesheet %>" />
    <title><%= title %></title>
  </head>
  <body class="body">
    <header class="header">
      <div class="container">
        <a
          class="link"
          href="https://github.com/OptimisticTrousers/word-reminder"
        >
          <img class="image" src="/images/logo.png" alt="" />
        </a>
        <h1 class="heading">Word Reminder</h1>
      </div>
    </header>
  </body>
</html>
