<nav class="navigation">
  <div class="navigation__container">
    <div class="navigation__left">
      <img
        class="navigation__image navigation__image--logo"
        src="/images/logo.png"
        alt=""
      />
    </div>
    <div class="navigation__right">
      <ul class="navigation__list">
        <li class="navigation__item">
          <a class="navigation__link" href="/">
            <img class="navigation__icon" src="/icons/house.svg" alt="" />
            <span class="navigation__text">Home</span>
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="/#download">
            <img class="navigation__icon" src="/icons/download.svg" alt="" />
            <span class="navigation__text">Download</span>
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="/about">
            <img
              class="navigation__icon"
              src="/icons/circle-question-mark.svg"
              alt=""
            />
            <span class="navigation__text">About</span>
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="/privacy">
            <img class="navigation__icon" src="/icons/lock.svg" alt="" />
            <span class="navigation__text">Privacy</span>
          </a>
        </li>
        <li class="navigation__item">
          <a
            class="navigation__link"
            href="https://github.com/OptimisticTrousers/word-reminder"
          >
            <img class="navigation__icon" src="/icons/github.svg" alt="" />
            <span class="navigation__text">Source</span>
          </a>
          </a>
        </li>
        <li class="navigation__item">
          <a class="navigation__link" href="/#contact">
            <img
              class="navigation__icon"
              src="/icons/message-circle.svg"
              alt=""
            />
            <span class="navigation__text">Contact</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
