<div class="support">
    <h2 class="support__heading">We're Here For You</h3> 
    <p class="support__description">
        Check out our <a class="support__link" href="https://github.com/OptimisticTrousers/word-reminder">GitHub</a> page for documentation. If you have any questions or issues, <a class="support__link" href="https://github.com/OptimisticTrousers/word-reminder/issues">create an issue</a>.
    </p> 
</div>