.forgot-password {
  padding: 1rem;
}

.forgot-password__heading,
.forgot-password__description,
.forgot-password__form {
  margin-bottom: 0.75rem;
}

.forgot-password__input {
  margin-left: 0.75rem;
}

.forgot-password__button {
  margin-top: 0.75rem;
}
