.navigation {
  background-color: var(--top-navigation-bkg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__list {
  display: flex;
  gap: 8px;
}

.navigation__icon,
.hero__image {
  margin-right: 12px;
}

.navigation__image {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(171deg)
    brightness(103%) contrast(100%);
}

.navigation__item {
  list-style: none;
}

.navigation__link {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  background-color: var(--bottom-navigation-bkg-color);
  color: var(--anchor-color);
  text-decoration: none;
}

.navigation__image {
  height: 3rem;
}

.hero__container {
  margin: 0 auto;
}

.main {
  margin-top: 6rem;
}

.hero__image {
  height: 10rem;
  margin-right: 12px;
}

.hero__subheading {
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.hero__container {
}

.hero__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__flex {
  display: flex;
  align-items: center;
}

.hero__text {
  text-align: end;
}

.hero__section {
  margin-top: 6rem;
}

.hero__screenshot {
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  height: auto;
  width: 80%;
}
