.boundary {
  padding: 1rem;
}

.boundary__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.boundary__image {
  width: 250px;
  height: 250px;
  margin-bottom: 1rem;
}

.boundary__title {
  font-size: 1.75rem;
  font-weight: 600;
  color: var(--heading-color);
}

.boundary__message {
  font-size: 1.25rem;
}

.boundary__title,
.boundary__message {
  margin-bottom: 0.75rem;
}
