.user-word__word,
.user-word__panel {
  margin-top: 1rem;
}

.user-word__panel {
  border: 1px solid var(--border-color);
}

.word {
  background-color: var(--secondary-card-bkg-color);
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  transition: 0.4s;
}

.user-word__header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.word__buttons {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  margin-top: 0.75rem;
}

.word__buttons > * {
  flex: 1;
}

.word__button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.word__button .word__icon {
  margin-right: 8px;
  width: 28px;
  height: 28px;
}

.word__form {
  display: flex;
  justify-content: center;
}

.word__form > * {
  flex: 1;
}

.user-word__panel {
  padding: 1rem;
  background-color: var(--accordion-bkg-color);
}
